.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

/* WEATHER STYLING */

.Weather-container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Weather-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 5em;
}

@media screen and (max-width: 600px) {
  .Weather-header {
    flex-direction: column;
    height: 10em;
  }
}

.Weather-header .Header-container {
  display: flex;
  width: 50%;

  /* justify-content: flex-e; */
}
.Weather-header .Input-container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.Weather-header input {
  width: 40%;
  height: 1.5em;
  padding: 0.5em;
  margin: 1.1em;

}
.Weather-container h1 {
  margin: 0.5em 0;
  color: white;
}

input {
  width: 20em;
  padding: 0.5em;
  margin: 0.5em 0.5em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.button {
  border: solid white;
  background-color: #282c34;
  height: 1.5em;
  border-radius: 60px;
  border-width: 0.15em;
  padding: 0.6em 1.4em;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 1em 0;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: #282c34;
}

.toggle-switch {
  margin: 1em;
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.data-container {
  display: flex;
  flex-direction: column;
}

.data-container .main-section {
  display: flex;
  margin: auto;
  font-size: 2rem;
  align-items: center;
  height: 2em;
}

.data-container .main-section h3 {
  /* font-size: 2rem; */
  margin-right: 3em;
}

.data-container .main-section p {
  margin: 0;
}

.data-container .main-section .looks-like {
  margin-top: 0.1em;
  font-size: 1rem;

}

.data-container .sub-section {
  width: 20em;
  margin: auto;
}

.data-container .sub-section ul {
  list-style-type: none;
  padding: 0; /* Remove default padding on ul */
}

.data-container .sub-section ul li {
  border-bottom: 1px solid white; /* Add a solid border with the specified color */
  padding: 0.5em 0; /* Optional: Add padding to li elements for better spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

/* Style the last li to remove the bottom border */
.data-container .sub-section ul li:last-child {
  border-bottom: none;
}

.temperature-display {
  margin: 0;
}